<%= _.template(require('./../includes/header.html'))() %>
<%= _.template(require('./../includes/navigation.html'))() %>
<%= _.template(require('./../includes/banner.html'))() %>
<%= _.template(require('./../includes/slider.html'))() %>
<%= _.template(require('./../includes/advantages.html'))() %>
<%= _.template(require('./../includes/assortment.html'))() %>
<%= _.template(require('./../includes/category.html'))() %>
<%= _.template(require('./../includes/form.html'))() %>
<%= _.template(require('./../includes/contacts.html'))() %>
<%= _.template(require('./../includes/modal.html'))() %>
<%= _.template(require('./../includes/footer.html'))() %>
