.form-container{
  margin-top: 100px;
  background-color: #EBEBEB;
  padding: 40px 80px 0 80px;
  border-radius: 2px;
  text-align: center;
.h3{
  font-family: 'Roboto', sans-serif;
}
  .desc{
    font-size: 20px;
  }
  .form-decoration{
    z-index: 1;
    position: relative;
    .form-img{
      z-index:0;
      position: absolute;
      right: 0;
      bottom: 0;
      max-height: 120%;
      max-width: initial;
    }
  }
  .agreement-block{
    margin-top: 14px;
    display: flex;
    align-items: flex-start;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
    .agreement{
      color: #838383;
      font-weight: 200;
      font-size: 14px;
      text-align: left;
      margin-left: 15px;
      .agreement-link{
          text-decoration: underline;
      }
    }
  }
  @media(max-width: 576px){
    background-color: #F9F9F9 ;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
    margin-right: 15px;
    max-width: calc(100% - 30px);
    border: 1px solid #EBEBEB;
    border-radius: 6px;
    .desc{
      font-size: 17px;
    }
    .agreement-block{

      .agreement{

        font-size: 12px;

      }
    }
    .form-decoration{
      order: 2;
      height: 260px;
      .form-img{
        max-height: 110%;
        right: 50%;
        transform: translateX(50%);
      }

    }
  }
}
