.ml-a{
  margin-left: auto;
}
.ml-0{
  margin-left: 0px !important;
}
.ml-10{
  margin-left: 10px;
}
.ml-18{
  margin-left: 18px;
}


.mt-5{
  margin-top: 5px !important;
}
.mt-15{
  margin-top: 15px;
}
.mt-25{
  margin-top: 25px;
}
.mt-30{
  margin-top: 30px;
}
.mt-50{
  margin-top: 50px;
}

.mb-10{
  margin-bottom: 10px;
}
.mb-15{
  margin-bottom: 15px;
}
.mb-40{
  margin-bottom: 40px;
}

@media(max-width: 576px){
  .mb-xs-10{
    margin-bottom: 10px;
  }
}
